In [ ]:
import pyspark
import pandas as pd
import numpy as np

from pyspark.sql import SparkSession
from pyspark.sql.functions import col, isnan, when, count, isnull, sum, median, mean, first, max, min, mode
from pyspark.sql.types import StructType, StructField, StringType, LongType, DoubleType

from pyspark.ml.feature import Bucketizer, QuantileDiscretizer
from pyspark.sql.window import Window

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
spark = SparkSession.builder.appName("test").getOrCreate()

# Load data

In [ ]:
df=spark.read.csv('cust_data.csv',inferSchema=True,header=True)

In [ ]:
df.show()

+---+------+---+-------------------+---------+------------------------------+---------+--------+------------------+-------------------+-------+-----+
| id|Gender|Age|Has_Mobile_Contract|Area_Code|Currently_Holds_Second_Product|   Tenure|App_User|Num_website_visits|Acquisition_Channel|Revenue|Label|
+---+------+---+-------------------+---------+------------------------------+---------+--------+------------------+-------------------+-------+-----+
|  1|  Male| 44|                  1|       28|                             0|> 2 Years|     Yes|              NULL|                 26|  40.45|    1|
|  2|  Male| 76|                  1|        3|                             0| 1-2 Year|      No|              NULL|                 26|  33.54|    0|
|  3|  Male| 47|                  1|       28|                             0|> 2 Years|     Yes|              NULL|                 26|  38.29|    1|
|  4|  Male| 21|                  1|       11|                             1| < 1 Year|      No|              NULL|                152|  28.62|    0|
|  5|Female| 29|                  1|       41|                             1| < 1 Year|      No|              NULL|                152|   27.5|    0|
|  6|Female| 24|                  1|       33|                             0| < 1 Year|     Yes|              NULL|                160|   2.63|    0|
|  7|  Male| 23|                  1|       11|                             0| < 1 Year|     Yes|              NULL|                152|  23.37|    0|
|  8|Female| 56|                  1|       28|                             0| 1-2 Year|     Yes|              NULL|                 26|  32.03|    1|
|  9|Female| 24|                  1|        3|                             1| < 1 Year|      No|              NULL|                152|  27.62|    0|
| 10|Female| 32|                  1|        6|                             1| < 1 Year|      No|              NULL|                152|  28.77|    0|
| 11|Female| 47|                  1|       35|                             0| 1-2 Year|     Yes|              NULL|                124|  47.58|    1|
| 12|Female| 24|                  1|       50|                             1| < 1 Year|      No|              NULL|                152|   48.7|    0|
| 13|Female| 41|                  1|       15|                             1| 1-2 Year|      No|              NULL|                 14|  31.41|    0|
| 14|  Male| 76|                  1|       28|                             0| 1-2 Year|     Yes|              NULL|                 13|  36.77|    0|
| 15|  Male| 71|                  1|       28|                             1| 1-2 Year|      No|              NULL|                 30|  46.82|    0|
| 16|  Male| 37|                  1|        6|                             0| 1-2 Year|     Yes|              NULL|                156|   2.63|    1|
| 17|Female| 25|                  1|       45|                             0| < 1 Year|     Yes|              NULL|                160|  26.22|    0|
| 18|Female| 25|                  1|       35|                             1| < 1 Year|      No|              NULL|                152|  46.62|    0|
| 19|  Male| 42|                  1|       28|                             0|     NULL|     Yes|              NULL|                124|  33.67|    0|
| 20|Female| 60|                  1|       33|                             0| 1-2 Year|     Yes|              NULL|                124|  32.36|    1|
+---+------+---+-------------------+---------+------------------------------+---------+--------+------------------+-------------------+-------+-----+
only showing top 20 rows

In [ ]:
print(f"Number of rows: {df.count()} and columns: {len(df.columns)}")

Number of rows: 381109 and columns: 12

In [ ]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Has_Mobile_Contract: integer (nullable = true)
 |-- Area_Code: integer (nullable = true)
 |-- Currently_Holds_Second_Product: integer (nullable = true)
 |-- Tenure: string (nullable = true)
 |-- App_User: string (nullable = true)
 |-- Num_website_visits: string (nullable = true)
 |-- Acquisition_Channel: integer (nullable = true)
 |-- Revenue: double (nullable = true)
 |-- Label: integer (nullable = true)

In [ ]:
# Handle out of range values on the Age column
df = df.withColumn('Age', when((df['Age'] == 190) | (df['Age'] == -1), np.nan).otherwise(df.Age))

# Handle missing values

In [ ]:
df = df.drop('id', 'Num_website_visits')

In [ ]:
def fill_categorical_nulls_with_mode(df: pyspark.sql.DataFrame, columns: list):
    mode_values = {}
    for column in columns:
        mode_value = df.select(mode(column)).first()[0]
        mode_values[column] = mode_value
    return df.fillna(mode_values)

In [ ]:
def fill_numerical_nulls_with_median(df: pyspark.sql.DataFrame, columns: list):
    median_values = {}
    for column in columns:
        median_value = df.select(median(column)).first()[0]
        median_values[column] = median_value
    return df.fillna(median_values)

In [ ]:
categorical_columns = ['Has_Mobile_Contract', 'Tenure']
df = fill_categorical_nulls_with_mode(df, categorical_columns)

In [ ]:
numerical_columns = ['Area_Code', 'Age']
df = fill_numerical_nulls_with_median(df, numerical_columns)

In [ ]:
null_counts = [sum(when(isnull(col), 1).otherwise(0)).alias(col) for col in df.columns]
null_df = df.select(null_counts)

result = null_df.toPandas().transpose().reset_index()
result['null_percentage'] = (result[0] / df.count() * 100).round(3)

schema = StructType([
    StructField('column', StringType(), False),
    StructField('null_counts', LongType(), False),
    StructField('null_percentage', DoubleType(), False)
])

result_df = df.sparkSession.createDataFrame(
    result.rename(
        columns={
            "index": "column_name",
            0: "null_count"
        }
    ),
    schema=schema
)

result_df.orderBy(col('null_counts').desc()).show()

+--------------------+-----------+---------------+
|              column|null_counts|null_percentage|
+--------------------+-----------+---------------+
|              Gender|          0|            0.0|
|              Tenure|          0|            0.0|
|                 Age|          0|            0.0|
|            App_User|          0|            0.0|
| Has_Mobile_Contract|          0|            0.0|
| Acquisition_Channel|          0|            0.0|
|           Area_Code|          0|            0.0|
|             Revenue|          0|            0.0|
|Currently_Holds_S...|          0|            0.0|
|               Label|          0|            0.0|
+--------------------+-----------+---------------+

In [ ]:
df.describe().show()

+-------+------+------------------+-------------------+------------------+------------------------------+---------+--------+-------------------+------------------+-------------------+
|summary|Gender|               Age|Has_Mobile_Contract|         Area_Code|Currently_Holds_Second_Product|   Tenure|App_User|Acquisition_Channel|           Revenue|              Label|
+-------+------+------------------+-------------------+------------------+------------------------------+---------+--------+-------------------+------------------+-------------------+
|  count|381109|            381109|             381109|            381109|                        381109|   381109|  381109|             381109|            381109|             381109|
|   mean|  NULL|38.822468112797125| 0.9978693759528114|26.388852008218123|            0.4582101183650871|     NULL|    NULL| 112.03429465061177|30.564806157802817|0.12256336113815208|
| stddev|  NULL| 15.51148231991869|0.04610954420779938|13.229864798927554|           0.49825119888722547|     NULL|    NULL| 54.203994774856554|17.213295449130523| 0.3279357647864266|
|    min|Female|              20.0|                  0|                 0|                             0| 1-2 Year|      No|                  1|              2.63|                  0|
|    max|  Male|              85.0|                  1|                52|                             1|> 2 Years|     Yes|                163|            540.17|                  1|
+-------+------+------------------+-------------------+------------------+------------------------------+---------+--------+-------------------+------------------+-------------------+

# Feature Engineering

## Make the age categorical

In [ ]:
bucketizer = Bucketizer(splits=[0, 25, 35, 45, 55, 100],
                        inputCol='Age',
                        outputCol='bins')
df = bucketizer.setHandleInvalid('keep').transform(df)

In [ ]:
df = df.withColumn('age_bins',
    when(col('bins') == 0.0, '18-25')
    .when(col('bins') == 1.0, '26-35')
    .when(col('bins') == 2.0, '36-45')
    .when(col('bins') == 3.0, '46-55')
    .when(col('bins') == 4.0, '55+')
    .otherwise(col('bins'))
)

In [ ]:
df.show()

+------+----+-------------------+---------+------------------------------+---------+--------+-------------------+-------+-----+----+--------+
|Gender| Age|Has_Mobile_Contract|Area_Code|Currently_Holds_Second_Product|   Tenure|App_User|Acquisition_Channel|Revenue|Label|bins|age_bins|
+------+----+-------------------+---------+------------------------------+---------+--------+-------------------+-------+-----+----+--------+
|  Male|44.0|                  1|       28|                             0|> 2 Years|     Yes|                 26|  40.45|    1| 2.0|   36-45|
|  Male|76.0|                  1|        3|                             0| 1-2 Year|      No|                 26|  33.54|    0| 4.0|     55+|
|  Male|47.0|                  1|       28|                             0|> 2 Years|     Yes|                 26|  38.29|    1| 3.0|   46-55|
|  Male|21.0|                  1|       11|                             1| < 1 Year|      No|                152|  28.62|    0| 0.0|   18-25|
|Female|29.0|                  1|       41|                             1| < 1 Year|      No|                152|   27.5|    0| 1.0|   26-35|
|Female|24.0|                  1|       33|                             0| < 1 Year|     Yes|                160|   2.63|    0| 0.0|   18-25|
|  Male|23.0|                  1|       11|                             0| < 1 Year|     Yes|                152|  23.37|    0| 0.0|   18-25|
|Female|56.0|                  1|       28|                             0| 1-2 Year|     Yes|                 26|  32.03|    1| 4.0|     55+|
|Female|24.0|                  1|        3|                             1| < 1 Year|      No|                152|  27.62|    0| 0.0|   18-25|
|Female|32.0|                  1|        6|                             1| < 1 Year|      No|                152|  28.77|    0| 1.0|   26-35|
|Female|47.0|                  1|       35|                             0| 1-2 Year|     Yes|                124|  47.58|    1| 3.0|   46-55|
|Female|24.0|                  1|       50|                             1| < 1 Year|      No|                152|   48.7|    0| 0.0|   18-25|
|Female|41.0|                  1|       15|                             1| 1-2 Year|      No|                 14|  31.41|    0| 2.0|   36-45|
|  Male|76.0|                  1|       28|                             0| 1-2 Year|     Yes|                 13|  36.77|    0| 4.0|     55+|
|  Male|71.0|                  1|       28|                             1| 1-2 Year|      No|                 30|  46.82|    0| 4.0|     55+|
|  Male|37.0|                  1|        6|                             0| 1-2 Year|     Yes|                156|   2.63|    1| 2.0|   36-45|
|Female|25.0|                  1|       45|                             0| < 1 Year|     Yes|                160|  26.22|    0| 1.0|   26-35|
|Female|25.0|                  1|       35|                             1| < 1 Year|      No|                152|  46.62|    0| 1.0|   26-35|
|  Male|42.0|                  1|       28|                             0| 1-2 Year|     Yes|                124|  33.67|    0| 2.0|   36-45|
|Female|60.0|                  1|       33|                             0| 1-2 Year|     Yes|                124|  32.36|    1| 4.0|     55+|
+------+----+-------------------+---------+------------------------------+---------+--------+-------------------+-------+-----+----+--------+
only showing top 20 rows

In [ ]:
df.groupBy('age_bins').count().withColumnRenamed('count', 'cnt_per_group').withColumn('perc_of_count_total', (col('cnt_per_group') / df.count()) * 100).show()

+--------+-------------+-------------------+
|age_bins|cnt_per_group|perc_of_count_total|
+--------+-------------+-------------------+
|   18-25|        93868|  24.63022389919944|
|   26-35|        88006| 23.092081268088656|
|   46-55|        65236| 17.117412603743286|
|   36-45|        67290| 17.656366026517347|
|     55+|        66709|  17.50391620245127|
+--------+-------------+-------------------+

## Make the revenue categorical
https://stackoverflow.com/questions/54803107/what-are-alternative-methods-for-pandas-quantile-and-cut-in-pyspark-1-6

In [ ]:
discretizer = QuantileDiscretizer(
    numBuckets=4,
    inputCol='Revenue',
    outputCol='Revenue_Group'
)
df_bins = discretizer.fit(df).transform(df)

In [ ]:
df = df_bins.withColumn('Revenue_Group',
    when(col('Revenue_Group') == 0.0, 'Low')
    .when(col('Revenue_Group') == 1.0, 'Medium')
    .when(col('Revenue_Group') == 2.0, 'High')
    .when(col('Revenue_Group') == 3.0, 'Very High')
    .otherwise(col('Revenue_Group'))
)

In [ ]:
df.groupBy('Revenue_Group').count().orderBy('count', ascending=False).show()

+-------------+-----+
|Revenue_Group|count|
+-------------+-----+
|    Very High|95420|
|         High|95345|
|       Medium|95235|
|          Low|95109|
+-------------+-----+

## Convert categorical to numerical

In [ ]:
df.show()

+------+----+-------------------+---------+------------------------------+---------+--------+-------------------+-------+-----+----+--------+-------------+
|Gender| Age|Has_Mobile_Contract|Area_Code|Currently_Holds_Second_Product|   Tenure|App_User|Acquisition_Channel|Revenue|Label|bins|age_bins|Revenue_Group|
+------+----+-------------------+---------+------------------------------+---------+--------+-------------------+-------+-----+----+--------+-------------+
|  Male|44.0|                  1|       28|                             0|> 2 Years|     Yes|                 26|  40.45|    1| 2.0|   36-45|    Very High|
|  Male|76.0|                  1|        3|                             0| 1-2 Year|      No|                 26|  33.54|    0| 4.0|     55+|         High|
|  Male|47.0|                  1|       28|                             0|> 2 Years|     Yes|                 26|  38.29|    1| 3.0|   46-55|         High|
|  Male|21.0|                  1|       11|                             1| < 1 Year|      No|                152|  28.62|    0| 0.0|   18-25|       Medium|
|Female|29.0|                  1|       41|                             1| < 1 Year|      No|                152|   27.5|    0| 1.0|   26-35|       Medium|
|Female|24.0|                  1|       33|                             0| < 1 Year|     Yes|                160|   2.63|    0| 0.0|   18-25|          Low|
|  Male|23.0|                  1|       11|                             0| < 1 Year|     Yes|                152|  23.37|    0| 0.0|   18-25|          Low|
|Female|56.0|                  1|       28|                             0| 1-2 Year|     Yes|                 26|  32.03|    1| 4.0|     55+|         High|
|Female|24.0|                  1|        3|                             1| < 1 Year|      No|                152|  27.62|    0| 0.0|   18-25|       Medium|
|Female|32.0|                  1|        6|                             1| < 1 Year|      No|                152|  28.77|    0| 1.0|   26-35|       Medium|
|Female|47.0|                  1|       35|                             0| 1-2 Year|     Yes|                124|  47.58|    1| 3.0|   46-55|    Very High|
|Female|24.0|                  1|       50|                             1| < 1 Year|      No|                152|   48.7|    0| 0.0|   18-25|    Very High|
|Female|41.0|                  1|       15|                             1| 1-2 Year|      No|                 14|  31.41|    0| 2.0|   36-45|       Medium|
|  Male|76.0|                  1|       28|                             0| 1-2 Year|     Yes|                 13|  36.77|    0| 4.0|     55+|         High|
|  Male|71.0|                  1|       28|                             1| 1-2 Year|      No|                 30|  46.82|    0| 4.0|     55+|    Very High|
|  Male|37.0|                  1|        6|                             0| 1-2 Year|     Yes|                156|   2.63|    1| 2.0|   36-45|          Low|
|Female|25.0|                  1|       45|                             0| < 1 Year|     Yes|                160|  26.22|    0| 1.0|   26-35|       Medium|
|Female|25.0|                  1|       35|                             1| < 1 Year|      No|                152|  46.62|    0| 1.0|   26-35|    Very High|
|  Male|42.0|                  1|       28|                             0| 1-2 Year|     Yes|                124|  33.67|    0| 2.0|   36-45|         High|
|Female|60.0|                  1|       33|                             0| 1-2 Year|     Yes|                124|  32.36|    1| 4.0|     55+|         High|
+------+----+-------------------+---------+------------------------------+---------+--------+-------------------+-------+-----+----+--------+-------------+
only showing top 20 rows

In [ ]:
df = df.withColumn(
    'Gender_Numeric',
    when(col('Gender') == 'Male', 0).when(col('Gender') == 'Female', 1).otherwise(None)
)

In [ ]:
df = df.withColumn(
    'Tenure_Numeric',
    when(col('Tenure') == '< 1 Year', 0)
    .when(col('Tenure') == '1-2 Year', 1)
    .when(col('Tenure') == '> 2 Years', 2)
    .otherwise(None)
)

In [ ]:
df = df.withColumn(
    'App_User_Numeric',
    when(col('App_User') == 'Yes', 0)
    .when(col('App_User') == 'No', 1)
    .otherwise(None)
)

In [ ]:
# Create the window specification
area_code_window = Window.partitionBy('Area_Code')

# Add the new feature to your DataFrame
df = df.withColumn('Area_Code_Avg_Revenue', mean('Revenue').over(area_code_window))

In [ ]:
# Create the window specification
acquisition_channel_window = Window.partitionBy('Acquisition_Channel')

# Add the new feature to your DataFrame
df = df.withColumn('Channel_Avg_Revenue', mean('Revenue').over(acquisition_channel_window))

In [ ]:
df.show()

+------+----+-------------------+---------+------------------------------+--------+--------+-------------------+-------+-----+----+--------+-------------+--------------+--------------+----------------+---------------------+-------------------+
|Gender| Age|Has_Mobile_Contract|Area_Code|Currently_Holds_Second_Product|  Tenure|App_User|Acquisition_Channel|Revenue|Label|bins|age_bins|Revenue_Group|Gender_Numeric|Tenure_Numeric|App_User_Numeric|Area_Code_Avg_Revenue|Channel_Avg_Revenue|
+------+----+-------------------+---------+------------------------------+--------+--------+-------------------+-------+-----+----+--------+-------------+--------------+--------------+----------------+---------------------+-------------------+
|Female|48.0|                  1|        1|                             1|1-2 Year|      No|                 12|   2.63|    0| 3.0|   46-55|          Low|             1|             1|               1|   2.7112896825397494|  33.57289910600262|
|  Male|58.0|                  1|        3|                             0|1-2 Year|      No|                 12|  21.85|    0| 4.0|     55+|          Low|             0|             1|               1|     24.5248870392396|  33.57289910600262|
|  Male|49.0|                  1|        3|                             1|1-2 Year|      No|                 12|   2.63|    0| 3.0|   46-55|          Low|             0|             1|               1|     24.5248870392396|  33.57289910600262|
|  Male|40.0|                  1|        6|                             0|1-2 Year|     Yes|                 12|  26.41|    0| 2.0|   36-45|       Medium|             0|             1|               0|     25.1321942675162|  33.57289910600262|
|Female|43.0|                  1|        6|                             0|1-2 Year|     Yes|                 12|   2.63|    1| 2.0|   36-45|          Low|             1|             1|               0|     25.1321942675162|  33.57289910600262|
|  Male|78.0|                  1|       20|                             1|1-2 Year|      No|                 12|   2.63|    0| 4.0|     55+|          Low|             0|             1|               1|   2.7816485788114558|  33.57289910600262|
|  Male|37.0|                  1|       20|                             0|1-2 Year|     Yes|                 12|   2.63|    0| 2.0|   36-45|          Low|             0|             1|               0|   2.7816485788114558|  33.57289910600262|
|  Male|59.0|                  1|       20|                             1|1-2 Year|      No|                 12|   2.63|    0| 4.0|     55+|          Low|             0|             1|               1|   2.7816485788114558|  33.57289910600262|
|  Male|64.0|                  1|       27|                             1|1-2 Year|      No|                 12|   2.63|    0| 4.0|     55+|          Low|             0|             1|               1|   22.859015232022458|  33.57289910600262|
|  Male|65.0|                  1|       28|                             1|1-2 Year|      No|                 12|  32.31|    0| 4.0|     55+|         High|             0|             1|               1|    38.66919513982096|  33.57289910600262|
|  Male|43.0|                  1|       28|                             0|1-2 Year|     Yes|                 12|  69.86|    0| 2.0|   36-45|    Very High|             0|             1|               0|    38.66919513982096|  33.57289910600262|
|Female|57.0|                  1|       28|                             0|1-2 Year|     Yes|                 12|   2.63|    0| 4.0|     55+|          Low|             1|             1|               0|    38.66919513982096|  33.57289910600262|
|  Male|55.0|                  1|       28|                             1|1-2 Year|      No|                 12|  38.89|    0| 4.0|     55+|         High|             0|             1|               1|    38.66919513982096|  33.57289910600262|
|Female|35.0|                  1|       28|                             0|1-2 Year|     Yes|                 12|  40.09|    0| 2.0|   36-45|    Very High|             1|             1|               0|    38.66919513982096|  33.57289910600262|
|  Male|44.0|                  1|       28|                             0|1-2 Year|      No|                 12|  32.17|    0| 2.0|   36-45|         High|             0|             1|               1|    38.66919513982096|  33.57289910600262|
|  Male|40.0|                  1|       28|                             1|1-2 Year|      No|                 12|  43.39|    0| 2.0|   36-45|    Very High|             0|             1|               1|    38.66919513982096|  33.57289910600262|
|  Male|43.0|                  1|       28|                             0|1-2 Year|     Yes|                 12|  93.34|    1| 2.0|   36-45|    Very High|             0|             1|               0|    38.66919513982096|  33.57289910600262|
|  Male|62.0|                  1|       28|                             1|1-2 Year|      No|                 12|   2.63|    0| 4.0|     55+|          Low|             0|             1|               1|    38.66919513982096|  33.57289910600262|
|  Male|42.0|                  1|       28|                             1|1-2 Year|      No|                 12|   2.63|    0| 2.0|   36-45|          Low|             0|             1|               1|    38.66919513982096|  33.57289910600262|
|Female|51.0|                  1|       28|                             0|1-2 Year|     Yes|                 12|  28.41|    0| 3.0|   46-55|       Medium|             1|             1|               0|    38.66919513982096|  33.57289910600262|
+------+----+-------------------+---------+------------------------------+--------+--------+-------------------+-------+-----+----+--------+-------------+--------------+--------------+----------------+---------------------+-------------------+
only showing top 20 rows

In [ ]:
df.toPandas().to_csv('cust_data_with_feature_engineering.csv')